@charset "UTF-8";
#nav-top .nt-logo, #nav-top .nt-msg li, #nav-top .nt-msg li a, #nav-top .nt-nav li{
	height: 50px;
	line-height: 50px
}
#nav-left .nl-con dl dd, #nav-left .nl-con dl dt {
	border-bottom: 1px solid #E5E5E5;
	line-height: 40px
}
#content, html {
	overflow-y: hidden
}
#nav-top {
	width: 100%;
	height: 50px;
	background: #337ab7
}
#nav-top .nt-logo {
	width: 190px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	float: left;
	background: #337ab7;
	position: relative
}
#nav-top .nt-logo a {
	display: block;
	width: 190px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0
}
#nav-top .nt-nav {
	padding: 0 2px;
	height: 50px;
	float: left
}
#nav-top .nt-nav li {
	width: 120px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	float: left
}
#nav-top .nt-nav li .nt-ico {
	font-size: 20px
}

#nav-top .nt-nav .ntn-active {
	background:  #438EB9
}
/* #nav-top .nt-nav li:first-child{
	background:  #438EB9
} */
#nav-top .nt-msg{
	padding-right: 20px;
	/*width: 220px;*/
	height: 50px;
	float: right;
}
.user-menu{
  position: absolute;
  background: #438EB9;
  height: 20px;
}
.user-menu li{
	width: 100px;
	text-align: center;
	background: #438EB9;
	float: right
}
#nav-top .nt-msg li {
/*	width: 100px;*/
	text-align: center;
	/*float: right*/
}
#nav-top .nt-msg li a {
	display: block;
	/*width: 100px;*/
	font-size: 15px;
	color: #333
}
#nav-top .nt-msg .nt-sign-out {
	background: #428bca
}
#nav-left {
	width: 190px;
	height: 100%;
	border-right: 1px solid #CCC;
	position: absolute;
	left: 0;
	top: 50px;
	background: #F2F2F2
}
.msg-left1{
	padding-left: 10px;
}
.msg-left{

	float: right;
}
.msg-left a{
	margin-left: 10px;
	padding:0 10px;	
	background:  #438EB9;	
}
#nav-left .nl-con {
	display: none
}
#nav-left .nl-con dl {
	margin: 0
}
#nav-left .nl-con dl dt {
	padding-left: 15px;
	width: 190px;
	height: 40px
}
#nav-left .nl-con dl dt span {
	margin-right: 10px
}
#nav-left .nl-con dl dd {
	padding-left: 30px;
	width: 189px;
	height: 40px;
	border-top: 1px solid #fff;
	background: #fff;
	position: relative
}
#nav-left .nl-con dl dd span {
	margin-right: 5px
}
#nav-left .nl-con dl dd a {
	display: block;
	width: 190px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0
}
#nav-left .nl-con dl dd .nl-checked {
	width: 2px;
	height: 40px;
	background: #438EB9;
	display: none;
	position: absolute;
	right: -1px;
	top: 0
}
#nav-left .nl-con dl dd .nl-checked .nl-arrows {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px;
	border-color: transparent #438EB9 transparent transparent;
	position: absolute;
	left: -30px;
	top: 3px
}
#nav-left .nl-show {
	display: block
}
#content {
	padding: 10px 0 0 200px;
	width: 100%;
	height: 590px;
	overflow-x: hidden
}
#welcome {
	padding: 0 10px 0 0
}
#welcome .block .title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	font-size: 16px;
	background: #E4F5FA;
	font-weight: 600
}
#welcome .block .content {
	width: 100%;
	height: 30px
}
#welcome .block .content li {
	width: 380px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-indent: 10px
}
#welcome .block th {
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	text-align: right
}
